body {
	font-family: sans-serif;
}
[main] {
	background-color: #F9F9F9;
}
[drawer] {
	background-color: #FFFFFF;
}
paper-drawer-panel:not([narrow]) #navicon {
	display: none;
}
paper-item {
	display: block;
    width: 100%;
}

